<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div class="row">

  <modal #ModalQuotation>
    <modal-header>
      <h4>Upload</h4>
    </modal-header>
    <modal-content>
      <app-quotation-view></app-quotation-view>
    </modal-content>
    <modal-footer>

      <div class="col-lg-5">
        <button id="closeModalQuotation" class="btn btn-primary btn-block" (click)="ModalQuotation.close()">close</button>
      </div>
    </modal-footer>
  </modal>
</div>



<form role="form">

  <div class="row">
    <div class="col-lg-4 col-lg-offset-1">
      <div class="form-group">
        <label for="inputEmail" class="col-lg-4 control-label">Vehicle No</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" id="VehicleNo" name="VehicleNo" [(ngModel)]="VehicleNo" placeholder="Vehicle No">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
      <div class="form-group">
        <label for="inputEmail" class="col-lg-4 control-label">Quotation No.</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" id="QuotationNo" name="QuotationNo" [(ngModel)]="QuotationNo" placeholder="Quotation No.">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-1">
      <div class="form-group">
        <label for="inputEmail" class="col-lg-4 control-label">Job No</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" id="JobId" name="JobId" [(ngModel)]="JobId" placeholder="Job No">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
      <div class="form-group">
        <label for="inputEmail" class="col-lg-4 control-label">Status</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" id="Status" name="Status" [(ngModel)]="Status" placeholder="Status">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-1">
      <div class="form-group">
        <label for="inputEmail" class="col-lg-4 control-label">Agent Code</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" id="AgentCode" name="AgentCode" [(ngModel)]="AgentCode" placeholder="Agent Code">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
      <div class="form-group">
        <label for="inputEmail" class="col-lg-4 control-label">Requested Person</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" id="RequestedPerson" name="RequestedPerson" [(ngModel)]="RequestedPerson" placeholder="Requested Person">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-1">
      <div class="form-group">
        <label for="inputEmail" class="col-lg-4 control-label">Quotation Date</label>
        <div class="col-lg-6">
            <datetime name="QuotationDate" id="QuotationDate" [datepicker]="datepickerOpts" [(ngModel)]="QuotationDate" 
            [timepicker]="false"></datetime>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="button" (click)="searchQuotations()">Search</button>
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-10">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Job Id</th>
          <th>Quotation No</th>
          <th>Requested By</th>
          <th>Client Name</th>
          <th>Vehicle/Chassi No</th>
          <th>Requested Date</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let searchResult of searchResults | paginate: {itemsPerPage:10 , currentPage:page, id: '1'}; let i = index" (click)="setClickedRow(i,searchResult.JobId);">
          <td>{{searchResult.JobId}}</td>
          <td>{{searchResult.QuotationNo}}</td>
          <td>{{searchResult.RequestBy}}</td>
          <td>{{searchResult.ClientName}}</td>
          <td>{{searchResult.VehicleChasisNo}}</td>
          <td>{{searchResult.RequestDate}}</td>
        </tr>

      </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true">
    </pagination-controls>
  </div>
</div>